*/__pycache__/*
tests/unit/__pycache__/*
.ipynb_checkpoints/*
.vscode/*
.others/*
.coverage
__pycache__/*
*.egg*
terra/map_utils/__pycache__/
cache/
docs/
terra/viz/game/__pycache__/*
terra/viz/__pycache__/*
terra/env_generation/__pycache__/
terra/digbench/
data/*
!data/custom/
!data/custom/**
data_big/
data_big2/
OPENAI_API_KEY.txt
GOOGLE_API_KEY_FREE.txt
experiments/
all_responses.txt
local_map.jpg
analysis/
analysis.log
analysis/cumulative_rewards.png
analysis/final_rewards.png
analysis/analysis.json
ANTHROPIC_API_KEY.txt
analysis.log
analysis/analysis.json
analysis/cumulative_rewards.png
analysis/final_rewards.png
GOOGLE_API_KEY_FREE2.txt
terra/viz/.env
*.pkl
*.png
terra/env_generation/data/
terra/env_generation/data-old/
data-old
*.zip
TO_CHECK/
OLD_FILES/